<!DOCTYPE html>
<html lang="en">
<head>
	<title>Javascript-less Forum</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="/styles.css" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
	<div class="background">
		<div class="content-box">
			<div class="title-box">
				<h1 class="title">Javascript-less Forum</h1>
				<p>A simple anonymous forum.</p>
				<p class="italic">You are {{user_id}}</p>
			</div>
			<div class="w-full space-y-2">
				<div class="header">
					<h2 class="left-header">Threads <span class="text-sm font-light">{{ num_threads}} threads</span></h2>
					<p class="right-link"><a href="/write">Create a New Thread</a><p>
				</div>
				{{#each threads}}
				<div class="index-thread">
					<div class="w-full flow-root">
							<h3 class="index-thread-title">{{ title }} <span class="text-sm font-light">by {{ user_id }}, {{ num_comments }} comments</span></h3>
							<p class="float-right"><a class="underline" href="/thread/{{ thread_id }}">View Thread {{ thread_id }}</a></p>
					</div>
					<div class="w-full flow-root">
							<p class="float-left date">created {{ created }}</p>
							<p class="float-right date">last updated {{ last_updated }}</p>
					</div>
					<p class="break-all">{{ content }}{{ #if overflow }} <a href="/thread/{{ thread_id }}" class="underline">view full thread</a>{{ /if}}</p>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</body>
</html>