<!DOCTYPE html>
<html lang="en">
<head>
	<title>Homepage</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="./styles.css" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
	<div class="min-h-screen space-y-5 p-3">
		<div class="w-full space-y-1">
			<div class="flow-root">
				<div class="float-left">
					<h1 class="text-2xl font-semibold">Main Page</h1>
					<p class="text-sm italic">you are user {{user_id}}</p>
				</div>
				<a class="float-right underline" href="/write">write new a post</a>
			</div>
			<hr>
		</div>
		{{#each posts}}
		<div>
			<div class="flow-root">
				<h2 class="float-left text-lg font-semibold">{{ title }}</h2>
				<a class="float-right underline" href="/post-{{ post_id }}">view post</a>
			</div>
			<p class="text-sm italic">Created on {{ created }} by user {{ user_id }}.</p>
			<p>{{ content }}</p>
		</div>
		<hr>
		{{/each}}
	</div>
</body>
</html>