<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ thread.title }}</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="/styles.css" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
	<div class="background">
		<div class="content-box">
			<div class="title-box">
				<h1 class="title">Javascript-less Forum</h1>
				<p>A simple anonymous forum.</p>
				<p class="italic">You are {{user_id}}</p>
			</div>
			<div class="space-y-2">
				<div class="header">
					<h2 class="left-header">Viewing Thread <span class="italic">{{ thread.thread_id }}</span> <span class="text-sm font-light">{{ num_comments }} comments</span></h2>
					<p class="right-link"><a href="/">Back to Home</a></p>
				</div>
				<div class="view-thread-box">
					<div class="space-y-2">
						<div>
							<h3 class="break-all font-semibold text-lg">{{ thread.title }} <span class="text-sm font-light">by {{ user_id }}</span></h3>
							<p class="date">created on {{ thread.created }}, last updated {{ thread.last_updated }}</p>
						</div>
						<p class="whitespace-pre-wrap break-all">{{{ thread.content }}}</p>
					</div>
					<hr class="horizontal-divider">
					<form class="w-full flex space-x-2" action="/thread/{{ thread.thread_id }}/upload" method="post">
						<textarea name="content" placeholder="Write something here..." rows="2" class="grow write-textinput" required></textarea>
						<div class="items-center flex">
							<input class="submit-button" type="submit" value="Submit">
						</div>
					</form>
				</div>
				{{#each comments}}
				<div class="w-5/6 mx-auto bg-slate-800 p-3 space-y-2 rounded-md shadow-md">
					<p class="date">{{ user_id }} on {{ created }}</p>
					<p class="whitespace-pre-wrap break-all">{{{ content }}}</p>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</body>
</html>